Repository codeselfstudy/codeselfstudy: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

lefthook.yml:

# Refer for explanation to following link:
# https://lefthook.dev/configuration/

pre-commit:
  parallel: true
  commands:
    format:
      glob: "*.{md,mdx,ts,js,mjs,cjs,jsx,tsx,yaml,yml,json,html,css,scss,vue,astro}"
      run: bun run prettier --write {staged_files}
      stage_fixed: true
    lint:
      glob: "*.{ts,js,mjs,cjs,jsx,tsx,astro}"
      run: bun run eslint {staged_files}

pre-push:
  commands:
    test:
      run: bun run test

Add stylelint
  .stylelintignore
  bun.lock
  lefthook.yml
  package.json
  stylelint.config.mjs
Due: format, lint

Remove demo files
  .gitignore
  .prettierignore
  .stylelintignore
  eslint.config.js
  src/routes/demo/api.names.ts
  src/routes/demo/api.tq-todos.ts
  src/routes/demo/drizzle.tsx
  src/routes/demo/form.address.tsx
  src/routes/demo/form.simple.tsx
  src/routes/demo/orpc-todo.tsx
  src/routes/demo/start.api-request.tsx
  src/routes/demo/start.server-funcs.tsx
  src/routes/demo/start.ssr.data-only.tsx
  src/routes/demo/start.ssr.full-ssr.tsx
  src/routes/demo/start.ssr.index.tsx
  src/routes/demo/start.ssr.spa-mode.tsx
  src/routes/demo/table.tsx
  src/routes/demo/tanstack-query.tsx
  src/routes/demo/workos.tsx
Due: format, lint

Fix ignores for eslint
  eslint.config.js
Due: format, lint

Add missing shadcn file: use-mobile.ts
  src/hooks/use-mobile.ts
Due: format, lint

Add a .vimrc file for the live server
  dotfiles/.vimrc
Due: none

fix: resolve ESLint errors and config issues
  src/components/ui/calendar.tsx
  src/components/ui/carousel.tsx
  src/components/ui/chart.tsx
  src/components/ui/field.tsx
  src/components/ui/input-otp.tsx
  src/components/ui/sidebar.tsx
  src/data/demo.punk-songs.ts
  tsconfig.json
Due: format, lint

Start moving content
  public/_redirects
  src/content/copyrighted/about-content.tsx
  src/content/copyrighted/codewars-content.tsx
  src/content/copyrighted/contact-content.tsx
  src/content/copyrighted/credits-content.tsx
  src/content/copyrighted/discounts-content.tsx
  src/routes/about.tsx
  src/routes/blog.tsx
  src/routes/codewars.tsx
  src/routes/contact.tsx
  src/routes/credits.tsx
  src/routes/discounts.tsx
  src/routes/discounts/digitalocean.tsx
Due: format, lint

Lint-fix the styles and add some base styles
  src/styles.css
Due: format

Move the rest of the content
  src/content/copyrighted/LICENSE.md
  src/content/copyrighted/events-content.tsx
  src/content/copyrighted/home-content.tsx
  src/content/copyrighted/jobs-content.tsx
  src/content/copyrighted/puzzles-content.tsx
  src/routes/LICENSE.md
  src/routes/events.tsx
  src/routes/index.tsx
  src/routes/jobs.tsx
  src/routes/puzzles.tsx
Due: format, lint

Add docstring to CurrentYear component
  src/components/CurrentYear.tsx
Due: format, lint

Update lefthook
  lefthook.yml
Due: format

Don't fix on lint-push
  lefthook.yml
Due: format

Update lint script: bun run lint will fix
  package.json
Due: format

Lint-fix the files
  src/content/copyrighted/home-content.tsx
  src/styles.css
Due: format, lint

Update packages with 'bun update'
  bun.lock
  package.json
Due: format

Fix the CSS linting problem
  .vscode/settings.json
  stylelint.config.mjs
Due: format, lint

Fix deprecated zod type
  src/env.ts
Due: format, lint

Set up env vars.
  src/env.ts
Due: format, lint

Clean up unused files and CSS
  public/_redirects
  src/polyfill.ts
  src/routes/__root.tsx
  src/routes/api.$.ts
  src/routes/api.rpc.$.ts
  src/routes/tools/unicode.tsx
  src/styles.css
Due: format, lint

Extract inline SVGs to external files
  public/patterns/bevel-circle.svg
  public/patterns/circuit-board.svg
  public/patterns/cogs.svg
  public/patterns/dice.svg
  public/patterns/graph-paper.svg
  public/patterns/hexagons.svg
  public/patterns/pie-factory.svg
  public/patterns/steel-beams.svg
  public/patterns/temple.svg
  public/patterns/topography.svg
  src/styles.css
Due: format

Linting fix
  src/routes/__root.tsx
Due: format, lint

Add a mdBook manual and configure the linters
  .prettierignore
  eslint.config.js
  manual/.gitignore
  manual/book.toml
  manual/mermaid-init.js
  manual/mermaid.min.js
  manual/src/SUMMARY.md
  manual/src/index.md
Due: format, lint

Remove demo stuff
  src/data/demo-table-data.ts
  src/data/demo.punk-songs.ts
  src/data/unicode.ts
  src/hooks/demo.form-context.ts
  src/hooks/demo.form.ts
  src/orpc/client.ts
  src/orpc/router/index.ts
  src/orpc/router/todos.ts
  src/orpc/schema.ts
Due: format, lint

More cleanup.
  src/components/current-year.tsx
  src/components/footer.tsx
  src/components/navbar.tsx
  src/components/page-wrapper.tsx
  src/components/workos-user.tsx
  src/routes/__root.tsx
  src/routes/about.tsx
  src/routes/codewars.tsx
  src/routes/contact.tsx
  src/routes/credits.tsx
  src/routes/discounts.tsx
  src/routes/events.tsx
  src/routes/jobs.tsx
  src/routes/puzzles.tsx
Due: format, lint

Rename camelCase file to kebab-case
  src/hooks/use-user.tsx
Due: format, lint

Add AGENTS.md file
  AGENTS.md
Due: format

Add .bun-version
  .bun-version
Due: none

Add a manual
  AGENTS.md
  README.md
  manual/src/SUMMARY.md
  manual/src/getting-started.md
  manual/src/index.md
  manual/src/licensing.md
  manual/src/project-structure.md
  manual/src/routing-and-data.md
  manual/src/tooling-and-quality.md
  package.json
Due: format

Set up a way to put dynamic metadata on each page
  src/lib/metadata.ts
  src/routes/__root.tsx
  src/routes/about.tsx
Due: format, lint

Add basic metadata for pages
  src/routes/codewars.tsx
  src/routes/contact.tsx
  src/routes/credits.tsx
  src/routes/discounts.tsx
  src/routes/events.tsx
  src/routes/index.tsx
  src/routes/jobs.tsx
  src/routes/puzzles.tsx
Due: format, lint

Marking a point here at the last Gatsby version
  package.json
Due: format

Merge some weird branch here before archiving
  package.json
Due: format

1.0.0-alpha.0
  package.json
Due: format

2.0.0-alpha.0
  package.json
Due: format

Rearrange package.json
  package.json
Due: format

Update README. Add symlink for Claude and exclude from formatting
  .prettierignore
  CLAUDE.md
  README.md
  lefthook.yml
Due: format

Install initial fly.io config
  .dockerignore
  Dockerfile
  fly.toml
  package.json
Due: format

Tinker with the fly config
  Dockerfile
  justfile
Due: none

Get it deployed on Fly.io
  Dockerfile
  bun.lock
  drizzle.config.ts
  env.local.example
  fly.toml
  justfile
  manual/src/SUMMARY.md
  manual/src/scripts.md
  package.json
  src/db/index.ts
  src/env.ts
  src/integrations/workos/provider.tsx
  vite.config.ts
Due: format, lint
